#outside {
  z-index: 1;
  position: absolute;
  background-image:url(images_1514630490215.jpeg);  width: 100%;
  height: 100%;
  text-align: center;
  transition: 1s;
  transform-origin: 0;
}

.open-card {
  transform: rotateY(90deg);
}
#button {
  color: #FFF;
  background-color: #900;
  font-weight: bold;
}
#outside-title {
  color:#33cc33;
  font-family: Courier;
  font-weight:bold;
  font-size: 12pt;
  text-align: center;
}

#outside-pic {
  width: 1500px;
  height: 150ppx;
}

#outside-help {
  color: black;
  font-family: Courier;
  font-size: 12pt;
  text-align: center;
  padding: 20px;
}

#inside {
  z-index: 0;
  position: absolute;
  background-color:#9999ff;
  width: 100%;
  height: 100%;
  text-align: center;
}

#inside-title {
  color:black;
  font-family: Courier;
  font-size: 12pt;
  text-align: center;
}

#inside-pic {
  
  height: 150px;
}

#message {
  color: red;
  font-family: Courier;
  font-size: 12pt;
  text-align: center;
}

